
<div ng-show="homeCtrl.signIn">
	<div>
		<a href="#/" title="Twitter" class="btn btn-twitter btn-lg" ng-click="homeCtrl.singInTwitter()"><i class="fa fa-twitter fa-fw"></i> Sign In with Twitter</a>
	</div>

</div>

<div class="container" ng-show="homeCtrl.dashboard">
<div id="mask">
	<br>
	<h1 class="lead" style="color:blue">Profile Name: {{homeCtrl.profileData.screen_name}}</h1>
    <br><br>
    <div class="row">
    	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-danger">
				<div class="shape">
				</div>
				<div class="offer-content">
					<h3 class="lead">
					Followers : <label class="label label-info">{{homeCtrl.profileData.followers_count}}</label>
					</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-success">
				<div class="offer-content">
					<h3 class="lead">
						 Following : <label class="label label-info">{{homeCtrl.profileData.friends_count}}</label>
					</h3>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="offer offer-radius offer-primary">
				<div class="offer-content">
					<h3 class="lead">
						 Tweets : <label class="label label-info">{{homeCtrl.profileData.statuses_count}}</label>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<br>
<div class="container" ng-show="homeCtrl.dashboard">
  <h2 class="lead">Twitter Users</h2><br>
  <p class="lead">Twitter random user's profile data</p> <br>
  <table class="table table-striped table-bordered">
  <!-- <div class='lmask'></div> -->
    <thead>
      <tr>
        <th>Screen Namw</th>
        <th>Following</th>
        <th>Follwers</th>
        <th>Tweets</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in homeCtrl.profileDataArray">
        <td>{{user.screen_name}}</td>
        <td>{{user.followers_count}}</td>
        <td>{{user.friends_count}}</td>
        <td>{{user.statuses_count}}</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <span ng-show="homeCtrl.display">Loading...</span>
</div>